@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.Profile {
  margin: 24px;
  font-size: x-large;
}

h1 {
  font-size: 50px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 60px;
}

.Profile h1 {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.Profile p {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-right: 24px;
}

#logo {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  letter-spacing: 0.03em;
  line-height: 20px;
  font-style: normal;
  margin-right: 5px;
}

body {
  height: 100vh;
  background-image: url(./img/shapes.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  border-radius: 0 0 0 15px;
  color: #172b4d;
  font-family: "poppins", sans-serif;
}

header {
  margin: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

header nav ul {
  display: flex;
  padding: 15px;
  position: relative;
  bottom: 40px;
  margin-top: 40px;
  gap: 204px;
  right: 15px;
  box-sizing: border-box;
}

.social-handle {
  flex-direction: row;
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-right: 600px;
  position: relative;
  right: 40px;
}

a > h4 {
  color: #6070ff;
  font-size: 20px;
  line-height: 38px;
  margin: 0;
  box-sizing: border-box;
}

.Profile h4 {
  flex-direction: row;
  display: flex;
  color: #7f8cff;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  height: 100vh;
  background-image: url(../img/header-shapes.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 0 15px;
}

nav {
  margin: 0 24px 0 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

h2 {
  font-size: 50px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 60px;
}

article {
  color: #344563;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}

.Profile > h4 {
  margin: 10px 0 5px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
}

li {
  list-style: none;
  margin: 0 20px 10px 0;
  font-size: 15px;
}

ul > li {
  margin-right: 0 20px 0 0;
  color: #505f79;
  font-size: 18px;
}

a > i {
  font-size: 25px;
}

li :hover {
  color: #7f8cff;
}

li:active {
  color: #2230d2;
}

.Works {
  width: 100%;
  height: max-content;
  display: grid;
  justify-content: center;
  background: #e5e5e5;
}

.Card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 30px 0;
}

.h {
  height: 582px;
}

.Card > img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.TitleContainer {
  width: 100%;
  height: 500px;
}

.Title > h4 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  color: #172b4d;
}

.Campoy {
  display: flex;
  align-items: center;
}

.Campoy > span {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
}

.Campoy > ul {
  width: 200px;
  margin-left: 30px;
  display: flex;
}

.CusList li {
  font-size: 15px;
  background: #ebebff;
  border-radius: 5px;
  padding: 5px;
  color: #6070ff;
  margin-top: 20px;
}

.Campoy > ul > li {
  font-size: 15px;
  list-style-type: disc;
  margin: 0 15px;
  font-weight: 500;
}

.Info {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  border: 1px solid #9bafe0;
  border-radius: 16px;
  width: 120px;
  margin-top: 10px;
  color: #6070ff;
}

.About {
  background: #e5e5e5;
  margin: 0;
  height: max-content;
}

.AboutContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 1083px;
  background: #fff;
  border-top-right-radius: 130px;
}

.AboutTop h2 {
  width: 50%;
}

.AboutTop p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.AboutTop h4 {
  margin: 20px 0 5px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
}

.Lag > i {
  font-size: 20px;
}

.AboutTop > ul > li > i {
  font-size: 25px;
  margin-top: 20px;
}

.b {
  width: 180px;
  font-size: 18px;
}

.Languages {
  margin-top: 30px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.Lag {
  display: flex;
  width: 310px;
  height: 66.72px;
  justify-content: space-between;
  align-items: center;
}

.Lag > h5 {
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.List {
  display: flex;
  width: 310px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin: 10px 0;
}

.List > img {
  margin-left: 20px;
}

.List > p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.line {
  border-bottom: 1px solid #9bafe0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}
